<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .fixed-bottom-icon {
            position: fixed;
            bottom: 20px; /* Adjust the value as per your preference */
            right: 20px; /* Adjust the value as per your preference */
            cursor: pointer;
        }
        .fixed-bottom-icon img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            /* Add more styles as needed */
        }

    </style>
    <title>Document</title>
</head>
<body>
    <div class="fixed-bottom-icon">
        <a href="https://www.facebook.com/TinDungADAM247/">
            <img src="images/mess.jpg" alt="Icon">
        </a>
    </div>

</body>
</html>