<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product/product.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="container">
            {{>navbar}}
            <div class="row">
                <div class="col-2">
                    <h1>Giải pháp đáo hạn tin cậy cho tương lai tài chính của bạn.</h1>
                    <p>💳 Rút Tiền & Đáo Hạn Thẻ Tín Dụng 💰 <br>
💥 𝐕𝐈𝐒𝐀 - 𝐌𝐀𝐒𝐓𝐄𝐑 - 𝐉𝐂𝐁<br>
💥 𝐍𝐡𝐚𝐧𝐡 𝐜𝐡𝐨́𝐧𝐠 - 𝐁𝐚̉𝐨 𝐦𝐚̣̂𝐭 - 𝐔𝐲 𝐭𝐢́𝐧<br>
💥 𝐑𝐮́𝐭 𝟏𝟎𝟎% 𝐡𝐚̣𝐧 𝐦𝐮̛́𝐜 <br>
💥 𝐌𝐢𝐞̂̃𝐧 𝐥𝐚̃𝐢 𝐭𝐨̂́𝐢 đ𝐚 𝟒𝟓-𝟓𝟓 𝐧𝐠𝐚̀𝐲<br> 
💰Phí chỉ từ 1.8% <br>
💥Đáo hạn thẻ nhanh chóng, nhận đáo lưu thẻ hàng tháng</p>
                    <a href="https://www.facebook.com/TinDungADAM247/" class="btn">Khám phá ngay&#8594;</a>
                </div>
                <div class="col-2">
                    <img src="/images/image1.png">
                </div>
            </div>
        </div>
    </div>

</body>
</html>