<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products | RedStore</title>
    <link rel="stylesheet" href="/css/product/product.css">
    <link rel="icon" type="image/png" href="images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bank/paymentdetail.css">
</head>
<body>
    <div class="container">
        {{>navbar}}
    </div>
    <div class="container"> 
        <h1>Hóa đơn</h1>
        <h3> Thông tin liên lạc và ghi chú</h3>
        <form action="/user/sendMail" method="post">
            <p> Tên: * <input type="text" name="name" id="name" value="{{user.username}}" required placeholder="Sooraj Jha"></p> 
            <p> Lời nhắn: * <textarea name="note" id"note" cols="100" rows="10" required placeholder=""></textarea></p>
            <p> Số điện thoại: * <input type="text" name="telephone" id="telephone" required placeholder="09333*****"></p>
            <p> Email: * <input type="email" name="email" id="email" value="{{user.email}}" required placeholder="example@gmail.com"></p>
            <h2>Chi tiết hóa đơn</h2>
            
            <p>
                Chọn thẻ: *
                <select name="cardType" id="" required>
                    <option value="">-- Loại thẻ --</option>
                    <option value="vietacombank">Vietcombank</option>
                    <option value="vpbank">VPBank</option>
                    <option value="eximbank">Eximbank</option>
                    <option value="anbinhbank">An bình bank</option>
                </select>
            </p>
            <p>
                Số tiền: * <input type="number" id="card_number" maxlength="10" name="total" value="{{total}}" required placeholder="">
            </p>
            <input type="submit" value="Pay Now">

        </form>
    </div>
    {{>footer}}
    <script>
        const telephone = document.querySelector('#telephone');
        telephone.addEventListener('input', function(event) {
            const inputValue = event.target.value;
            event.target.value = event.target.value.replace(/\D/g, '');
            if (event.target.value > 10) {
                event.target.value = event.target.value.slice(0, 10);
            }
        });
    </script>
</body>
</html>