<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Charity</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="Tarun" />
	<link rel="icon" type="image/png" href="images/logo.png">
	<link rel="stylesheet" href="/css/animate.css">
	<link rel="stylesheet" href="/css/icomoon.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/superfish.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script src="https://kit.fontawesome.com/340cef720c.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/product/product.css">
</head>
<body>
	<div class="container">
        {{>navbar}}
    </div>
	<div id="fh5co-wrapper">
		<div id="fh5co-page">

			<div id="fh5co-contact" class="animate-box">
				<div class="container">
					<form action="#">
						<div class="row">
							<div class="col-md-6">
								<h3 class="section-title">Địa chỉ</h3>
								<ul class="contact-info">
									<li><i class="fas fa-map-marked-alt"></i>41 Lý Thường Kiệt, Phú Nhuận, Thành phố Huế, Thừa Thiên Huế</li>
									<li><i class="fas fa-phone-alt"></i>0922.247.247</li>
									<li><a href="mailto:kambojtarun02@gmail.com"><i class="fas fa-envelope"></i>nguyenkhoaminhphuong0905@gmail.com</a></li>
									<li><a href="https://github.com/Tarun-Kamboj"><i class="fas fa-link"></i>www.yoursite.com</a></li>
								</ul>
							</div>
							<div class="col-md-6">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3826.3518764051837!2d107.5922179!3d16.457710900000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141a140b254afa5%3A0xa756c8b2f6bbe8c8!2zNDEgTMO9IFRoxrDhu51uZyBLaeG7h3QsIFBow7ogTmh14bqtbiwgVGjDoG5oIHBo4buRIEh14bq_LCBUaOG7q2EgVGhpw6puIEh14bq_!5e0!3m2!1svi!2s!4v1685524954253!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
						</div>
					</form>
				</div>
			</div>

			
		</div>
	</div>
	{{>footer}}
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/sticky.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.js"></script>
	<script src="js/main.js"></script>
	<script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>
</body>
</html>
