*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    margin: 10px 12px;
    font-size: 18px;
}
.container{
    background-color: #f2f2f2;
    border: 1px solid lightgray;
    padding: 6px;
    margin: 8px;
    border-radius: 6px;
}
input[type="text"],
input[type="email"],
input[type="name"],
input[type="number"],
input[type="password"],
input[type="date"],
textarea,select{
    width: 100%;
    padding: 12px;
    border: 2px solid lightsteelblue;
    border-radius: 8px;
}
fieldset{
    background-color: white;
    border: 2px solid lightsteelblue;
    border-radius: 8px;
}
h1{
    text-align: center;
}
input[type="submit"]{
    background-color: #4daea4;
    border: none;
    padding: 18px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}